*{
    margin: 0;
    padding: 0;
  
  
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.container header {
    height: 100vh;
    background-image: url('wp5403916.webp');
    opacity: 0.8;
    background-repeat: no-repeat;
   background-size: cover;
  
   
}
.container header h1{
    color: rgb(229, 235, 240);
    font-size: 180px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 170px;
    margin-left: 50px;
    
  
}
#div1, footer {
    padding: 20px;
   
}
.container .main{
    background-color: #ffd4d4;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #af7878;
    font: 1em sans-serif  ;
 

    
}
.container .main img{
    border-radius: 50%;
    border: 1px solid #ffd4d4;
    width: 120px;
    height: 120px;
   
}
.container .main img h3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.image2{
    background-color: #a68b3c  ;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.image2 img{
    width: 700px;

    margin-left: 20px;
    border: 1px solid black ;
    border-radius: 30px;
    display: flex;
 }

.image2 h2{
  margin-left: 750px;
  display: flex;
    display-wrap: wrap ;
    font-size: 50px;
    letter-spacing: 1px;
  
  
    }


.image2 h2 p{
    margin-left: 750px;
    display: flex;
    display-wrap: wrap ;
       text-align: left;
 
 
 
}
footer{
    background-size:100px ;
    background-color: #ffffff ;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    border: 1px solid white;
    border-radius: 70px;
}
footer img:hover{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 70px;
    opacity: 0.8;
 
 
}
footer p{
    display: flex;
    align-items: center; 
    align-content: end;
}